<div>
    <div>
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-12 col-xs-12 text-center align-items-center">
                <h1 class="d-none d-md-block"><b>Welcome! &nbsp;BFC Consultancy Service Partner.</b></h1>
                <h4 class="d-block d-md-none"><b>Welcome! &nbsp;BFC Consultancy Service Partner.</b></h4>
            </div>
            <div class="col-xl-7 col-lg-6 col-md-4 col-sm-12 col-xs-12">
                <div class="row d-none d-md-block">
                    <div class="col-11 text-xl-end text-lg-end text-md-end text-sm-center text-xs-center">
                        <button type="button" class="btn btn-outline-secondary shadow">Register as Professional</button>
                    </div>
                </div>
                <div class="row d-block d-md-none">
                    <div class="col-12 text-center">
                        <button type="button" class="btn btn-outline-secondary shadow">Register as Professional</button>
                    </div>
                </div>
            </div>
            
        </div>
        <hr />
        <div>
            <div class="row text-center align-items-center mt-5">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <span>
                        <h3>Professionals</h3>
                        <mat-icon>card_membership</mat-icon>
                    </span>
                    <span>
                        <h1>10000+</h1>
                    </span>
                    <span>
                        <h5>A huge Number of Professional on single platform.</h5>
                    </span>
                </div>
                <hr class="d-block d-md-none"/>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <span >
                        <h3>Verified Professionals</h3>
                        <mat-icon>verified_user</mat-icon>
                    </span>
                    <span>
                        <h1>2000+</h1>
                    </span>
                    <span>
                        <h5>Verified Professional get Recommended tag on Services & More chance to get Clients.</h5>
                    </span>
                </div>
                <hr class="d-block d-md-none"/>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <span>
                        <h3>Average Earings (Per Month)</h3>
                        <mat-icon>account_balance_wallet</mat-icon>
                    </span>
                    <span>
                        <h1>60,000/- Rs</h1>
                    </span>
                    <span>
                        <h5>Verified Professional get Recommended tag on Services & More chance to get Clients.</h5>
                    </span>
                </div>
            </div>
        </div>

        <div>
            <div>

            </div>
        </div>

    </div>
</div>