<h1>Man Power</h1>
<h1>Ac Repair</h1>
<h1>Painting works</h1>
<h1>Non-Veg Delivery</h1>
<h1>Wood Works</h1>



<div>
    <div>
        <div>
            <!-- <mat-nav-list>
                <ng-container *ngFor="let parent of newSideNav">
                    <a 
                    mat-list-item 
                    *ngIf="parent.display && parent.routeName"
                    [routerLink]="[parent.parentRouteName, parent.routeName]"
                    [routerLinkActive]="'active'"
                    (click)="displayChildMenu(parent.name, parent.routeName)"
                    >

                    </a>

                </ng-container>
            </mat-nav-list> -->
        </div>
    </div>
</div>