
<div>
    <div>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="FeedBack">
                <div class="align-items-center text-center">
                    <input matInput placeholder="enater">
                </div>
            </mat-tab>
            <mat-tab label="Complaint">
                <div>

                </div>
            </mat-tab>
          </mat-tab-group>
    </div>
</div>


  
  <!-- <mat-tab-group mat-align-tabs="center">
    <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
  </mat-tab-group>
  
  <mat-tab-group mat-align-tabs="end">
    <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
  </mat-tab-group> -->